@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  background: white;
  background-size: cover;
  background-position: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 50px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 28px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar a {
  position: relative;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  margin-left: 20px;
}

.navbar a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: rgb(206, 76, 76);
  transition: 0.3s;
}

.navbar a:hover::before {
  width: 100%;
}

/* Media Queries para dispositivos medianos (tablets) */
@media (max-width: 768px) {
  .header {
    padding: 15px 30px;
  }

  .logo {
    font-size: 24px;
  }

  .navbar a {
    font-size: 14px;
    margin-left: 15px;
  }
}

/* Media Queries para dispositivos pequeños (móviles) */
@media (max-width: 480px) {
  .header {
    padding: 10px 20px;
    flex-direction: column;
  }

  .logo {
    font-size: 20px;
  }

  .navbar {
    display: none; /* Oculta la barra de navegación */
  }

  .hamburger {
    display: block; /* Muestra el ícono de hamburguesa */
  }

  /* Cuando el menú se active */
  .navbar.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    z-index: 99;
  }

  .navbar a {
    font-size: 20px;
    color: #fff;
    margin: 10px 0;
  }
}

/* Estilos para el ícono de hamburguesa */
.hamburger {
  display: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

/* Mostrar hamburguesa para pantallas pequeñas */
@media (max-width: 768px) {
  .navbar {
    display: none; /* Oculta los enlaces del navbar en pantallas pequeñas */
  }

  .hamburger {
    display: block; /* Muestra el ícono de hamburguesa */
  }
}
