---
import '../styles/navbar.css';
---

<header class="header">
	<a href="#" class="logo">Logo</a>
	<nav class="navbar">
		<a href="#">Inicio</a>
		<a href="#">Acerca de</a>
		<a href="#">Galeria</a>
		<a href="#">Servicios</a>
		<a href="#">Contacto</a>
	</nav>
</header>